@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Roboto:500,300,400);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
body {
  font-family: "Roboto", sans-seriffont;
  background: #1e1c26;
  color: #f0f0f1;
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: lighter;
  height: 100%;
  width: 100%;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

a {
  color: #f0f0f1;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 250ms;
          transition: all 250ms; }
  @media (min-width: 1025px) {
    a:hover {
      color: #d02b55;
      text-decoration: none; } }

.link {
  position: relative;
  opacity: 0.8;
  color: #d02b55;
  letter-spacing: 1px;
  font-weight: 300; }
  .link::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background: rgba(240, 240, 241, 0.8);
    bottom: -10px;
    left: 0;
    opacity: 0;
    -webkit-transition: all 250ms;
            transition: all 250ms; }
  @media (min-width: 1025px) {
    .link:hover {
      opacity: 1;
      color: #f0f0f1; }
      .link:hover:after {
        bottom: -4px;
        opacity: 1; } }

section {
  padding-bottom: 90px; }

#transition {
  background: -webkit-linear-gradient(#1e1c26 0%, rgba(43, 40, 88, 0.5) 100%);
  background: linear-gradient(#1e1c26 0%, rgba(43, 40, 88, 0.5) 100%);
  height: 250px; }

.dib {
  display: inline-block; }

.button {
  float: right;
  display: inline-block;
  color: #f0f0f1;
  padding: 5px 10px;
  border: 1px solid;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 4px;
  font-size: 1.2rem;
  overflow: hidden;
  margin: 45px 0;
  position: relative; }
  .button:after {
    content: "";
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 100px;
    background: rgba(240, 240, 241, 0.8);
    top: -150px;
    left: 0;
    -webkit-transform: skewY(15deg);
        -ms-transform: skewY(15deg);
            transform: skewY(15deg);
    -webkit-transition: all 250ms;
            transition: all 250ms; }
  @media (min-width: 1025px) {
    .button:hover {
      border-color: #d02b55;
      color: #d02b55;
      box-shadow: 0 10px 20px #151324;
      -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
              transform: translateY(-10px); }
      .button:hover:after {
        top: -30px; } }

@media (min-width: 1025px) {
  .scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #f0f0f1;
    z-index: 10; }
    .scrollToTop:hover {
      border-color: #d02b55;
      color: #d02b55;
      box-shadow: 0 10px 20px #151324;
      bottom: 40px; }
    .scrollToTop::after, .scrollToTop::before {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
          -ms-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      width: 10px;
      border: 1px solid; }
    .scrollToTop::after {
      -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-45deg);
              transform: translateY(-50%) translateX(-50%) rotateZ(-45deg);
      left: 11px; }
    .scrollToTop::before {
      -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(45deg);
              transform: translateY(-50%) translateX(-50%) rotateZ(45deg);
      left: 17px; }
    .scrollToTop--is-active {
      opacity: 0.8;
      -webkit-animation-name: bounceInUp;
              animation-name: bounceInUp;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }
    .scrollToTop--is-gone {
      -webkit-animation-name: bounceOutUp;
              animation-name: bounceOutUp;
      -webkit-animation-duration: 0.8s;
              animation-duration: 0.8s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; } }
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 0.8;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  75% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0); }
  90% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 0.8;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  75% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0); }
  90% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes bounceOutUp {
  0%, 20%, 40%, 45%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0.8; }
  20% {
    opacity: 0.8;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 0.8;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0); } }
@keyframes bounceOutUp {
  0%, 20%, 40%, 45%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0.8; }
  20% {
    opacity: 0.8;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 0.8;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
nav {
  position: absolute;
  text-align: center;
  top: 30px;
  width: 100%; }
  @media (min-width: 768px) {
    nav {
      text-align: right; } }
  @media (min-width: 1025px) {
    nav {
      text-align: right; } }
  nav .name {
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      nav .name {
        text-align: left; } }
    @media (min-width: 1025px) {
      nav .name {
        text-align: left; } }

.menu--items {
  margin: 0 7px;
  list-style: none;
  -webkit-transition: all 250ms;
          transition: all 250ms; }
  @media (min-width: 768px) {
    .menu--items {
      padding: 0 20px; } }
  @media (min-width: 1025px) {
    .menu--items {
      padding: 0 20px; } }
  .menu--items:last-child a {
    color: #d02b55; }
    @media (min-width: 768px) {
      .menu--items:last-child a {
        border: 1px solid;
        padding: 10px 20px;
        border-radius: 20px; } }
    @media (min-width: 1025px) {
      .menu--items:last-child a:hover {
        color: #f0f0f1; } }
.menu--link {
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bolder; }
  @media (min-width: 1025px) {
    .menu--link:hover {
      color: #f0f0f1;
      line-height: 2px; } }

header {
  background: -webkit-linear-gradient(top, rgba(43, 40, 88, 0.5) 0%, rgba(21, 19, 36, 0.5) 100%), url("../img/header.jpg") no-repeat center center;
  background: linear-gradient(to bottom, rgba(43, 40, 88, 0.5) 0%, rgba(21, 19, 36, 0.5) 100%), url("../img/header.jpg") no-repeat center center;
  background-size: cover;
  height: 220px; }
  @media (min-width: 1025px) {
    header {
      height: 90vh; } }

.wrap {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  text-align: center; }
  .wrap h1 {
    font-family: "Playfair";
    text-transform: uppercase;
    letter-spacing: 2px; }

@media (min-width: 1025px) {
  .works:nth-child(2n+1) {
    padding-right: 0;
    padding-left: 25px; }

  .works:nth-child(2n) {
    padding-right: 25px;
    padding-left: 0; } }
.element {
  height: 240px;
  position: relative;
  text-align: center;
  margin-bottom: 45px;
  box-shadow: 0 0 0 rgba(21, 19, 36, 0);
  -webkit-transition: all 250ms;
          transition: all 250ms; }
  .element > * {
    position: absolute;
    z-index: 10; }
    @media (min-width: 1025px) {
      .element > * {
        opacity: 0; } }
  .element .title {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    top: 20px;
    color: #f0f0f1;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    -webkit-transition: all 250ms;
            transition: all 250ms; }
    @media (min-width: 1025px) {
      .element .title {
        -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        top: 60%; } }
  .element .more {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    bottom: 20px;
    width: 170px;
    color: #f0f0f1;
    padding: 5px 10px;
    border: 1px solid;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px;
    font-size: 1.2rem;
    overflow: hidden; }
    @media (min-width: 1025px) {
      .element .more {
        bottom: 0; } }
    .element .more:after {
      content: "";
      z-index: -1;
      width: 100%;
      position: absolute;
      height: 100px;
      background: rgba(240, 240, 241, 0.8);
      top: -150px;
      left: 0;
      -webkit-transform: skewY(15deg);
          -ms-transform: skewY(15deg);
              transform: skewY(15deg);
      -webkit-transition: all 250ms;
              transition: all 250ms; }
    @media (min-width: 1025px) {
      .element .more:hover {
        border-color: #d02b55;
        color: #d02b55;
        box-shadow: 0 10px 20px #151324;
        bottom: -10px !important; }
        .element .more:hover:after {
          top: -30px; } }
  .element .background {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    -webkit-transition: all 250ms;
            transition: all 250ms; }
  @media (min-width: 1025px) {
    .element:hover {
      box-shadow: 0 10px 20px #151324; }
      .element:hover > * {
        opacity: 1; }
      .element:hover .title {
        top: 50%; }
      .element:hover .more {
        bottom: -17px; }
      .element:hover .background {
        opacity: 0.6;
        background-size: 110% 110%; } }
  .element--one {
    background: url("../img/meije.jpg") no-repeat center center;
    background-size: cover; }
    @media (min-width: 1025px) {
      .element--one {
        background-size: 100% 100%; } }
  .element--two {
    background: url("../img/bambaataa.jpg") no-repeat center center;
    background-size: cover; }
    @media (min-width: 1025px) {
      .element--two {
        background-size: 100% 100%; } }
  .element--three {
    background: url("../img/over.jpg") no-repeat center center;
    background-size: cover; }
    @media (min-width: 1025px) {
      .element--three {
        background-size: 100% 100%; } }
  .element--four {
    background: url("../img/material.jpg") no-repeat center center;
    background-size: cover; }
    @media (min-width: 1025px) {
      .element--four {
        background-size: 100% 100%; } }
  .element--five {
    background: url("../img/submit.jpg") no-repeat center center;
    background-size: cover; }
    @media (min-width: 1025px) {
      .element--five {
        background-size: 100% 100%; } }
  .element--six {
    background: url("../img/quote.jpg") no-repeat center center;
    background-size: cover; }
    @media (min-width: 1025px) {
      .element--six {
        background-size: 100% 100%; } }

.about--block {
  padding: 10px 0;
  overflow: hidden; }
  .about--block .col-md-10 {
    text-align: justify; }
  .about--block h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 15px; }
    .about--block h2::after {
      content: "";
      width: 50px;
      height: 1px;
      background: #f0f0f1;
      display: block;
      margin: 10px auto; }
    @media (min-width: 768px) {
      .about--block h2 {
        text-align: left;
        margin-top: 0; }
        .about--block h2::after {
          display: none; } }
    @media (min-width: 1025px) {
      .about--block h2 {
        text-align: left;
        margin-top: 0; }
        .about--block h2::after {
          display: none; } }
  .about--block .cat {
    text-align: right; }
    @media (min-width: 768px) {
      .about--block .cat {
        border-right: 1px solid;
        padding-right: 30px; } }

#contact {
  text-align: center;
  background: rgba(43, 40, 88, 0.5);
  overflow: hidden;
  padding-bottom: 30px; }
  #contact ul {
    margin-top: 20px; }
