#contact
	background: rgba(lighten($v, 8%), 0.5)
	//overflow: hidden
	padding-bottom: 40px
	ul
		// margin-top: 20px
		// text-align: center
		li
			display: block
	a
		color: $b
		//margin: 0 10px
		font-weight: lighter
		&::before
			margin-right: 7px
		&:hover, &:focus
			color: $r
.transition
	background: linear-gradient( rgba($v, 1) 0%, rgba(lighten($v, 8%), 0.5) 100%)
	height: 120px
.contact-infos
	display: flex
	flex-direction: column
	+md
		display: block
form
	input[type="text"], input[type="email"], textarea
		width: 100%
		background-color: transparent
		border: 1px solid $b
		margin-bottom: 10px
		outline: none
		padding: 0 10px
		+transition
		&:focus
			border-color: $r
	textarea
		height: 118px
		padding: 7px 10px
		resize: none
	button
		background: none
		border: none
		@extend .button
	.button
		order: 1
		+transition
		background: none
		float: none
		&:before
			display: none
			+md
				display: block
			//background: rgba($b, 1)
	ul
		order: 2
#footer
	background: rgba(lighten($v, 8%), 0.5)
	padding: 6px 0
	font-weight: lighter
	font-size: 12px
	a
		font-weight: lighter
