nav
	position: absolute
	text-align: center
	+sm
		text-align: right
	+md
		text-align: right
	top: 30px
	width: 100%
	.name
		text-align: center
		+sm
			text-align: left
		+md
			text-align: left
		margin: 0
		letter-spacing: 2px
		font-weight: bolder
		text-transform: uppercase
		font-size: $fz - 0.3
.menu
	&--items
		+sm
			padding: 0 20px
		+md
			padding: 0 20px
		margin: 0 7px
		list-style: none
		+transition
		&:last-child
			a
				color: $r
				+sm
					border: 1px solid
					padding: 10px 20px
					border-radius: 20px
				+md
					&:hover
						color: $b
	&--link
		font-weight: lighter
		letter-spacing: 2px
		text-transform: uppercase
		font-size: $fz - 0.3
		font-weight: bolder
		+md
			&:hover
				color: $b
				line-height: 2px
