section#about
    .container 
        .about--block
            .col-md-2
                h2 Enchanté !
            p.col-md-10.col-xs-12 Je suis Valentin Galmand, <em>born and</em> raised à Bordeaux comme on dit de l'autre côté de l'Océan Atlantique. Actuellement en deuxième année en 
                a(href="http://mmibordeaux.com", target='_blank', title="Vers le site du DUT MMI Bordeaux").link DUT MMI
                | , j'adore essayer, explorer et apprendre de nouvelles choses en particulier sur l'animation d'interface et la magie du HTML mêlé au CSS. Passionné par le graphisme print comme web et par le développement front-end, je suis toujours à la recherche de nouvelles expériences. Si on y ajoute du vélo, beaucoup de dessin et d'handwritting saupoudré de trois expositions sans oublier un peu (beaucoup) de séries et de films. Un mix de tout ça et me voilà.
                +link('valentingalmand_cv.pdf','Télécharger mon cv','button')
        .about--block
            .col-md-2.clearfix
                h2 Compétences
            .col-md-2.col-xs-5
                h4.cat Développement
            .col-md-3.col-xs-5
                ul
                    +listp('HTML5 / Jade')
                    +listp('CSS3 / SASS')
                    +listp('Wordpress')
                    +listp('PHP / jQuery')
            .col-md-2.col-xs-5
                h4.cat Design
            .col-md-3.col-xs-5
                ul
                    +listp('Webdesign')
                    +listp('Identité Visuelle')
                    +listp('UI / UX Design')
                    +listp('Suite Adobe')
        .about--block
            .col-md-2
                h2 Récompenses
            p.col-md-10 Plus tard, je mettrai mes awards ici.
        .about--block
            .col-md-2
                h2 Et donc ?
            p.col-md-10 On peut me retrouver sur 
                +link('https://www.linkedin.com/in/valentingalmand', 'LinkedIn', 'link')
                | , 
                +link('https://twitter.com/vgalmand', 'Twitter', 'link')
                | , 
                +link('https://dribbble.com/Valentinvalentin', 'Dribbble', 'link')
                | , 
                +link('http://codepen.io/asstor_/', 'Codepen', 'link')
                |  et 
                +link('http://instagram.com/valentinvalentin_/', 'Instagram', 'link')
                | .
            .col-md-12
                +link('mailto:v.galmand@gmail.com',"M'écrire",'button').clearfix
