.transition
footer#contact
    .container
        h2 Contact
        ul
            li.dib: a(href="mailto:v.galmand@gmail.com", title="Envoyer un mail") mail
            li.dib: a(href='https://www.linkedin.com/in/valentingalmand', target='_blank', title="Vers mon profil LinkedIn").icon-linkedin
            li.dib: a(href='https://twitter.com/vgalmand', target='_blank', title="Vers mon profil Twitter").icon-twitter
            li.dib: a(href='https://plus.google.com/u/0/+ValentinGalmand/posts', target='_blank', title="Vers mon profil Google Plus").icon-gplus
            li.dib: a(href='https://github.com/valentingalmand', target='_blank', title="Vers mon profil Github").icon-github
            li.dib: a(href='http://codepen.io/asstor_/', target='_blank', title="Vers mon profil Codepen").icon-codepen
            li.dib: a(href='http://instagram.com/valentinvalentin_/', target='_blank', title="Vers mon profil Instagram").icon-instagram
            li.dib: a(href='https://dribbble.com/Valentinvalentin', target='_blank', title="Vers mon profil Dribbble").icon-dribbble
