- var menu = { '#about':'enchanté', '#work':'projets', '#contact':'contact' }

- var works = [{"name": "RISE 2016","url": "http://rise2016.eu","number": "nine", "type": "web" ,"description": "La 82e Session internationale du Parlement Europpéns des Jeunes nommée RISE 2016 aura lieu à Rennes en 2016. Avant le lancement du site officiel, j'ai pu designer et intégrer la page Coming Soon qui est disponible en trois langues : français, anglais et allemand.", "link": "Visiter le site"}, {"name": "Meije","url": "http://meije-ga.me","number": "one", "type": "web" ,"description": "Meije est un endless runner créé lors d'un projet dans le cadre du DUT MMI. Parcourez le monde avec  J'ai eu la chance d'être sur les deux pôles : développeur et background designer. Le jeu est designé sous Hexels et développé avec le framework javascript, Phaser.", "link": "Tester le jeu"}]

- var labs = [{"name": "Hover Animation","url": "http://codepen.io/asstor_/full/MwbyZm","number": "three"},{"name": "Submit Button","url": "http://codepen.io/asstor_/full/MYMZZK","number": "five"},{"name": "Quote Animations","url": "http://codepen.io/asstor_/full/doJvRR","number": "six"},{"name": "Music Player","url": "http://codepen.io/asstor_/full/qdQaWR","number": "seven"}]

//- {"name": "Material Design Menu","url": "http://codepen.io/asstor_/full/zGOwad","number": "four"}
