- var menu = { '#about':'enchanté', '#work':'projets', '#contact':'contact' }

- var works = [{"name": "Meije","url": "http://meije-ga.me","number": "one"},{"name": "Hover Animation","url": "http://codepen.io/asstor_/full/MwbyZm","number": "three"},{"name": "Material Design Menu","url": "http://codepen.io/asstor_/full/zGOwad","number": "four"},{"name": "Submit Button","url": "http://codepen.io/asstor_/full/MYMZZK","number": "five"},{"name": "Quote Animation Inspiration","url": "http://codepen.io/asstor_/full/doJvRR","number": "six"},{"name": "Music Player","url": "http://codepen.io/asstor_/full/qdQaWR","number": "seven"}]
