nav
    .container
        .col-md-6
            h1.name Valentin Galmand
        .col-md-6
            ul.menu
            - each val, index in menu
                li.menu--items.dib: a.menu--link(href="#{index}", title="#{val}") #{val}
