section#work
    .container
        .col-md-12
            h2 Mes projets
    .container
        .clearfix
        - each work in works
            .col-sm-6.col-xs-12.works
                a(href="#{work.url}", target='_blank', title="#{work.name}").element
                    div(class="element--" + work.number).background
                    h3.title #{work.name}
                    .more En voir plus
